<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 分頁icon -->
  <link rel="shortcut icon"
        href="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg"
        type="image/x-icon">

  <!-- OG預覽 -->
  <meta property="og:title" content="全台最豐富的程式家教">
  <meta property="og:description" content="學習標準化的電腦形式語言 培養運算思維和邏輯素養">
  <meta property="og:image"
        content="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/article03.jpg">

  <title>
    <%- title %>
  </title>

  <!-- 字體＆icons -->
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap"
        rel="stylesheet">
  <!-- material symbols icons -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="bg-red-100">
  <header
          class="z-20 bg-dark-100 w-full fixed top-0 left-0 before:absolute before:top-full before:w-1/2 before:h-[2px] before:bg-primary after:absolute after:top-full after:w-1/2 after:right-0 after:h-[2px] after:bg-secondary select-none">
    <div class="container">
      <div class="flex items-center justify-between py-6">
        <h1>
          <a class="h-6 w-6 indent-[101%] whitespace-nowrap overflow-hidden md:h-[42px] md:w-[175px] bg-[url('../images/logo2.svg')] md:bg-[url('../images/logo.svg')] bg-no-repeat bg-contain bg-center"
             href="./index.html">Coding Home</a>
        </h1>
        <!-- ~menu btn -->
        <button class="block h-6 md:hidden text-primary" type="button">
          <span class="material-icons">
            menu
          </span>
        </button>
        <nav class="fixed left-0 z-10 top-[4.625rem] w-full md:relative md:flex md:w-auto md:top-0">
          <ul class="flex flex-col items-center w-full py-3 md:py-0 text-white bg-dark-100 md:flex-row text-lg">
            <li class="py-3 md:px-6 md:py-2">
              <a class="" href="#">首頁</a>
            </li>
            <li class="py-3 md:px-6 md:py-2">
              <a class="" href="#">課程介紹</a>
            </li>
            <li class="py-3 md:px-6 md:py-2">
              <a class="flex items-center justify-center mb-0" href="#">
                <span class="material-icons text-[20px] mr-1">
                  account_circle
                </span>
                登入
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <%- contents %>

    <!-- <footer class="footer">
      footer
    </footer> -->
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>