<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 分頁icon -->
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg" type="image/x-icon">
  
  <!-- OG預覽 -->
  <meta property="og:title" content="全台最豐富的程式家教">
  <meta property="og:description" content="學習標準化的電腦形式語言 培養運算思維和邏輯素養">
  <meta property="og:image" content="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/article03.jpg">

  <title><%- title %></title>
  <!-- 字體＆icons -->

  <!-- CSS -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    這是 header
  </header>

  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
